{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded">
                    {{ bag_items }}
                </div>
            {% else %}
                <p>Your bag is empty</p>
                <a href="{% url 'books' %}">Books</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // Remove col-2 class for Browse Category navlink dropndown for mobile view
        jQuery(document).ready(function (e) {
            classAddRmove();
    
            $(window).resize(function () {
                classAddRmove();
            });
    
            function classAddRmove() {
                if ($(window).width() <= 991) {
                    document.getElementById("nav-category").classList.remove("col-2");
                    document.getElementById("navbar-class-change").classList.add("navbar-nav");
                    
                } else {
                    document.getElementById("nav-category").classList.add("col-2");
                    document.getElementById("navbar-class-change").classList.remove("navbar-nav");
                }
            }
        });
    </script>
    <!-- Script for back to top button -->
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

{% endblock %}