{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}

<div class="container-fluid bg-lite-gray books-container">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center books-blue-text mt-3">Shopping Bag</h2>
            </div>
            <div class="col">
                {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><p class="books-blue-text">Product Info</p></th>
                                <th scope="col"></th>
                                <th scope="col"><p class="books-blue-text">Price</p></th>
                                <th scope="col"></th>
                                <th scope="col"><p class="books-blue-text">Subtotal</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if item.book.img_paths.url %}
                                        <img class="img-fluid" src="{{ item.book.img_paths.url }}" alt="{{ book.name }}">
                                    {% else %}
                                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0 books-blue-text">{{ item.book.name }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0 books-blue-text">£{{ item.book.price }}</p>
                                </td>
                                <td class="py-3 w-25 books-blue-text">
                                    {% include "bag/quantity-form.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0 books-blue-text">Price Each: £{{ item.book.price }}</p>
                                    <p class="books-blue-text"><strong>Subtotal: </strong>£{{ item.book.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'books' %}" class="btn books-button btn-lg ms-2" aria-label="Keep Shoping">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn books-button-white btn-lg ms-2 mt-2" aria-label="Go to checkout">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="books-blue-text">Your bag is empty</p>
                <a href="{% url 'books' %}" class="btn books-button btn-lg" aria-label="Bock to books home page"><i class="fas fa-chevron-left"></i> Back To Books In Stock</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        {% include 'books/includes/quantity_input_script.html' %}     
        <!-- Js for update remove items from bag -->
        <script>
            // Update quantity on click
            $('.update-link').click(function(e) {
                var form = $(this).prev('.update-form');
                form.submit();
            });

            // Remove item and reload on click
            $('.remove-item').click(function(e) {
                var csrfToken = "{{ csrf_token }}";
                var itemId = $(this).attr('id').split('remove_')[1];
                var url = `/bag/remove/${itemId}/`;
                var data = {
                    'csrfmiddlewaretoken': csrfToken
                };

                $.post(url, data)
                    .done(function() {
                        location.reload();
                    });
            });
        </script>

{% endblock %}