<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm button-blue rounded-0" 
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm button-blue rounded-0"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<div class="btn-group mt-1" role="group" aria-label="Basic example">
    <a class="btn update-link button-blue bag-button text-info"><small>Update</small></a>
    <!-- Modal Button -->
    <button type="button" class="btn button-blue bag-button text-danger float-right" data-bs-toggle="modal" data-bs-target="#removeBagItem">
        <small>Remove</small>
      </button>
</div>
      
      <!-- Modal -->
      <div class="modal fade" id="removeBagItem" tabindex="-1" aria-labelledby="RemoveItemFromBag" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="books-blue-text">Are you sure you want to remove this item from your bag !</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn books-button" data-bs-dismiss="modal">Cancel</button>
              <a class="btn remove-item books-button-white text-danger float-right" id="remove_{{ item.item_id }}">Yes</a>
              
            </div>
          </div>
        </div>
      </div>
