{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="owl-carousel owl-theme">

    {% for book in carousel_books %}
    <div class="book-container item">
        <div class="book-bg-colour">
            <div class="carousel-image">
                <img class="img-fluid" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
            </div>
        </div>
        <div class="book-bottom"></div>
    </div>
    {% endfor %}

    <!-- <div class="book-container item">
        <div class="book-bg-two">
            <div class="carousel-image"></div>
        </div>
        <div class="book-bottom"></div>
    </div> -->

</div>

<div class="container-fluid home-main">
    <div class="row">

        <div class="col-12 col-lg-4">
            <div class="row">
                <div class="col-12 ms-5">
                    <h3>Authors Of The Month</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="author-image"></div>
                </div>
                <div class="col-6">
                    <div class="author-text">
                        <h3>Auther Name: Dave Tayler</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="author-image"></div>
                </div>
                <div class="col-6">
                    <div class="author-text">
                        <h3>Author Name: Dave Tayler</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popular Genres -->
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <p>
                        <span class="text-uppercase">Popular Genres :</span>

                        <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
                            aria-expanded="false" aria-controls="multiCollapseExample1">Biography</a>

                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample2" aria-expanded="false"
                            aria-controls="multiCollapseExample2">Crime & Thriller</button>

                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample3" aria-expanded="false"
                            aria-controls="multiCollapseExample3">Natural History</button>

                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample4" aria-expanded="false"
                            aria-controls="multiCollapseExample4">Humer</button>
                            
                    </p>
                </div>

                <div class="col-12">
                    <div class="container">
                        <div class="collapse show multi-collapse" id="multiCollapseExample1">
                            {% for book in books %}
                            {% if book.category|lower == "biography"|lower %}
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="book-image">
                                            <img class="img-fluid" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="deal-text">
                                            <h3>Book Name: {{ book.name }} </h3>
                                            <p>Auther Name: {{ book.author }}</p>
                                            {% if book.category %}
                                            <p class="">
                                                <a class="text-muted"
                                                    href="{% url 'books' %}?category={{ book.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}

                        </div>

                    </div>

                    <div class="collapse multi-collapse" id="multiCollapseExample2">

                        {% for book in books %}
                        {% if book.category|lower == "crime thriller"|lower %}
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="book-image">
                                        <img class="img-fluid" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="deal-text">
                                        <h3>Book Name: {{ book.name }} </h3>
                                        <p>Auther Name: {{ book.author }}</p>
                                        {% if book.category %}
                                        <p class="">
                                            <a class="text-muted"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>

                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                        {% for book in books %}
                        {% if book.category|lower == "natural history"|lower %}
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="book-image">
                                        <img class="img-fluid" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="deal-text">
                                        <h3>Book Name: {{ book.name }} </h3>
                                        <p>Auther Name: {{ book.author }}</p>
                                        {% if book.category %}
                                        <p class="">
                                            <a class="text-muted"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div class="collapse multi-collapse" id="multiCollapseExample4">
                        {% for book in books %}
                        {% if book.category|lower == "humour"|lower %}
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="book-image">
                                        <img class="img-fluid" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="deal-text">
                                        <h3>Book Name: {{ book.name }} </h3>
                                        <p>Auther Name: {{ book.author }}</p>
                                        {% if book.category %}
                                        <p class="">
                                            <a class="text-muted"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="row">
            <div class="col-12 ms-5">
                <h3>Deals Of The Month</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="book-image"></div>
            </div>
            <div class="col-6">
                <div class="deal-text">
                    <h3>Auther Name: Dave Tayler</h3>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="book-image"></div>
            </div>
            <div class="col-6">
                <div class="deal-text">
                    <h3>Author Name: Dave Tayler</h3>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>

</div>

</div>


{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% endblock %}