{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="owl-carousel owl-theme">

    {% for book in carousel_books %}
    <div class="book-container item {% cycle 'carousel-bg-one' 'carousel-bg-two' 'carousel-bg-three' 'carousel-bg-four' %}">
        <div class="book-bg-colour">
            <div class="carousel-image">
                {% if book.img_paths %}
                <a href="{% url 'book_info' book.id %}">
                    <img class="w-100" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                </a>
                {% else %}
                <a href="{% url 'book_info' book.id %}">
                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.name }}">
                </a>
                {% endif %}
            </div>
            <div class="carousel-info">
                <ul>
                    <li><strong>{{ book.name }}</strong></li>
                    <li><small>By {{ book.author }}</small></li>
                    <li>Prie: {{ book.price }}</li>
                    <li>Short Summary: ysagihdfh icdi fidcj adhijcf i dfjs fdfc s8a0 vd vasc d 8v8d 80d0</li>
                    {% if request.user.is_superuser %}
                    <li>
                        <small class="ml-3">
                            <a href="{% url 'edit_book' book.id %}">Edit</a>
                        </small>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <div class="book-bottom"></div>
    </div>
    {% endfor %}

</div>

<div class="container-fluid home-main">
    <div class="row">

        <div class="col-lg-4 col-12">
            <div class="row">
                <!-- Authers of the month -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 ms-5">
                            <h3>Authors Of The Month</h3>
                        </div>
                    </div>
                    <div class="row">

                        {% for book in author_of_month %}
                        <div class="col-12">

                            <div class="author-text">
                                <h3 id="home_author{{ forloop.counter }}">{{ book.author }}</h3>
                                <br>
                                <p id="author{{ forloop.counter }}"></p>
                                {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_book' book.id %}">Edit</a>
                                    </small>
                                {% endif %}
                            </div>

                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- Deals of the month -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 ms-5">
                            <h3>Deals Of The Month</h3>
                        </div>
                    </div>
                    <div class="row">
                        {% for book in deal_of_month %}
                        <div class="col-12 mt-3">
                            <div class="row">
                                <div class="col-4">
                                    <div class="book-image">
                                        <a href="{% url 'book_info' book.id %}">
                                            {% if book.img_paths %}
                                            <img class="w-100" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                            {% else %}
                                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.name }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="deal-text">
                                        <h3>{{ book.name }}</h3>
                                        <p>Author: {{ book.author }}</p>
                                        <ul>
                                            {% if book.book_depository_stars == 0.50 %}
                                            <li class="stars">
                                                0.5<i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i>
                                            </li>
                                            {% elif book.book_depository_stars == 1.00 %}
                                            <li class="stars">
                                                1 <i class="fas fa-star"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i>
                                            </li>
                                            {% elif book.book_depository_stars == 1.50 %}
                                            <li class="stars">
                                                1.5 <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i
                                                    class="far fa-star"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i>
                                            </li>
                                            {% elif book.book_depository_stars == 2.00 %}
                                            <li class="stars">
                                                2 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="far fa-star"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i>
                                            </li>
                                            {% elif book.book_depository_stars == 2.50 %}
                                            <li class="stars">
                                                2.5 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i>
                                            </li>
                                            {% elif book.book_depository_stars == 3.00 %}
                                            <li class="stars">
                                                3 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i>
                                            </li>
                                            {% elif book.book_depository_stars == 3.50 %}
                                            <li class="stars">
                                                3.5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i
                                                    class="far fa-star"></i>
                                            </li>
                                            {% elif book.book_depository_stars == 4.00 %}
                                            <li class="stars">
                                                4<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="far fa-star"></i>
                                            </li>
                                            {% elif book.book_depository_stars == 4.50 %}
                                            <li class="stars">
                                                4.5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star-half-alt"></i>
                                            </li>
                                            {% elif book.book_depository_stars == 5.00 %}
                                            <li class="stars">
                                                5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i>
                                            </li>
                                            {% else %}
                                            <li class="stars">
                                                0<i class="far fa-star"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i><i class="far fa-star"></i><i
                                                    class="far fa-star"></i>
                                            </li>
                                            {% endif %}
                                        </ul>
                                        {% if book.category %}
                                        <p class="">
                                            <a class="text-muted"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        <p><strong>Price: {{ book.price }}</strong></p>
                                        {% if request.user.is_superuser %}
                                        <li>
                                            <small class="ml-3">
                                                <a href="{% url 'edit_book' book.id %}">Edit</a>
                                            </small>
                                        </li>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <!-- Popular Genres -->
        <div class="col-lg-8 col-12">
            <div class="row">
                <div class="col-12">
                    <p>
                        <span class="text-uppercase">Popular Genres :</span>

                        <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
                            aria-expanded="false" aria-controls="multiCollapseExample1">Biography</a>

                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample2" aria-expanded="false"
                            aria-controls="multiCollapseExample2">Crime & Thriller</button>

                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample3" aria-expanded="false"
                            aria-controls="multiCollapseExample3">Natural History</button>

                        <button class="btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample4" aria-expanded="false"
                            aria-controls="multiCollapseExample4">Humer</button>

                    </p>
                </div>

                <div class="col-12">
                    <div class="container">
                        <div class="collapse show multi-collapse" id="multiCollapseExample1">
                            {% for book in books %}
                            {% if book.category|lower == "biography"|lower %}
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="book-image">
                                            <a href="{% url 'book_info' book.id %}">
                                                <img class="img-fluid" src="{{ book.img_paths.url }}"
                                                    alt="{{ book.name }}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="deal-text">
                                            <h3>Book Name: {{ book.name }} </h3>
                                            <p>Auther Name: {{ book.author }}</p>
                                            {% if book.category %}
                                            <p class="">
                                                <a class="text-muted"
                                                    href="{% url 'books' %}?category={{ book.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}

                        </div>

                    </div>

                    <div class="collapse multi-collapse" id="multiCollapseExample2">

                        {% for book in books %}
                        {% if book.category|lower == "crime thriller"|lower %}
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="book-image">
                                        <img class="" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="deal-text">
                                        <h3>Book Name: {{ book.name }} </h3>
                                        <p>Auther Name: {{ book.author }}</p>
                                        {% if book.category %}
                                        <p class="">
                                            <a class="text-muted"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>

                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                        {% for book in books %}
                        {% if book.category|lower == "natural history"|lower %}
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="book-image">
                                        <img class="img-fluid" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="deal-text">
                                        <p>Book Name: {{ book.name }} </p>
                                        <p>Auther Name: {{ book.author }}</p>
                                        {% if book.category %}
                                        <p class="">
                                            <a class="text-muted"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div class="collapse multi-collapse" id="multiCollapseExample4">
                        {% for book in books %}
                        {% if book.category|lower == "humour"|lower %}
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="book-image">
                                        <img class="img-fluid" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="deal-text">
                                        <p>Book Name: {{ book.name }} </p>
                                        <p>By: {{ book.author }}</p>
                                        {% if book.category %}
                                        <p class="">
                                            <a class="text-muted"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        <br>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Get book Author key from openlibary API https://openlibrary.org/dev/docs/api/authors
let authorUrl = "https://openlibrary.org/search/authors.json?q=";
let searchAuthor = $("#home_author{{ forloop.counter }}").text();
$.getJSON(authorUrl + searchAuthor,
    function (bookData) {
        authorKey = bookData.docs[0].key;
        (authorKeySearch(authorKey));
    },

    // If an error occurs then show error response under search bar
    function error(errorResponse) {
        if (errorResponse.status === 404) {
            console.log(errorResponse)
        }
    }
);

function authorKeySearch(authorKey) {
    let authorUrl = "https://openlibrary.org/authors/";
    let authorUrlEnd = authorKey + ".json";
    $.getJSON(authorUrl + authorUrlEnd,
        function (result) {
            if (result.bio.value != undefined) {
                
                $("#author{{ forloop.counter }}").html(
                    `
                    <div>${result.bio.value}</div>       
                    `
                );
            } else if (result.bio != undefined) {
                $("#author{{ forloop.counter }}").html(
                    `                            
                    <div>${result.bio}</div>
                    `
                );
            } else {
                $("#author{{ forloop.counter }}").html(
                    `
                    <p>For more information call us or get in contact (link)</p>
                    `
                );
            }
        },
        // If an error occurs then show error response under search bar
        function error(errorResponse) {
            if (errorResponse.status === 404) {
                console.log(errorResponse)
            }
        }
    )
};

</script>
{% endblock %}