html {
    height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
}

.carousel-image {
    height: 230px;
    width: 35%;
    position: absolute;
    margin-top: 50px;
    margin-left: 40px;
    background-color: black;
}

.book-bg-one {
    height: 230px;
    background-color: #CD6B44;
    width: 100%;
}

.book-bg-two {
    height: 230px;
    background-color: #0092C4;
    width: 100%;
}

.book-bg-three {
    height: 230px;
    background-color: #D58725;
    width: 100%;
}

.book-bg-four {
    height: 230px;
    background-color: #4EBBCE;
    width: 100%;
}


.book-bottom {
    height:70px;
    background-color: #F5F5F5;
    width: 100%;
}

.home-main {
    background-color: #F5F5F5;
}

.owl-carousel {
    background-color: #F5F5F5;
}

.author-image {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 40px;
}

