html {
    height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
}

.owl-carousel {
    background-color: #F5F5F5;
}

.carousel-image {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    box-shadow: 5px 5px 20px #000
}

.carousel-info {
    height: 80%;
    width: 50%;
    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
}

.carousel-info ul {
    list-style-type: none;
}

.book-bg-colour {
    height: 230px;
    width: 100%;
}

.carousel-bg-one {
    /* background-color: #DEC4D6; */
    /* background-color: #e751a0; */
    /* background-color: #F278B8; */
    background-color: #FAB5D9;
}

.carousel-bg-two {
    /* background-color: #A4CCE3; */
    /* background-color: #bdf696; */
    /* background-color: #FF7D3B; */
    background-color: #B4F9BC;
    
}

.carousel-bg-three {
    /* background-color: #90CDC3; */
    /* background-color: #ff9159; */
    /* background-color: #CDFA7C; */
    background-color: #E4FDB7;
}

.carousel-bg-four {
    /* background-color: #7B92AA; */
    /* background-color: #4ad3a6; */
    /* background-color: #73E8C2; */
    background-color: #FFD0B8;
}

.book-bottom {
    height: 80px;
    background-color: #F5F5F5;
    width: 100%;
}

.home-main {
    background-color: #F5F5F5;
}

.author-image {
    height: 70px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 40px;
}

.book-image {
    height: 100%;
    width: 50%;
}

.bg-lite-gray {
    background-color: #F5F5F5;
}

.stars {
    display: inline;
}

/* Back to top button */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}