<!-- Category dropdown -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-bs-auto-close="false" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <p class="d-none mt-3 d-lg-block text-black">Browse Category <span><i class="fas fa-chevron-down"></i></span></p>
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item dropend">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">By Category Name</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Art Photography</a></li>
                    </ul>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">All Books</a></li>
                <li><a class="dropdown-item" href="#">By Price</a></li>
                <li><a class="dropdown-item" href="#">By Rating</a></li>
                <li><a class="dropdown-item" href="#">News Letter</a></li>
            </ul>
        </li>
    </ul>
</div>