<!-- Category dropdown -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2">

        <!-- Main dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-bs-auto-close="false" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <p class="d-none mt-3 d-lg-block text-black">Browse Categorys<span> <i class="fas fa-chevron-down"></i></span></p>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <!-- Category name dropdown -->
                <li class="nav-item dropend">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#" role="button"
                        aria-expanded="false">By Category Name</a>
                    <ul class="dropdown-menu">
                        
                            <!-- A - Z dropdown -->
                            <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">A - C</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Art Photography</a></li>
                                    <li><a class="dropdown-item" href="#">Biography</a></li>
                                    <li><a class="dropdown-item" href="#">Business</a></li>
                                    <li><a class="dropdown-item" href="#">Children's Books</a></li>
                                    <li><a class="dropdown-item" href="#">Computing</a></li>
                                    <li><a class="dropdown-item" href="#">Crafts & Hobbies</a></li>
                                    <li><a class="dropdown-item" href="#">Crime & Thriller</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">D - G</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Dictionaries Languages</a></li>
                                    <li><a class="dropdown-item" href="#">Entertainment/a></li>
                                    <li><a class="dropdown-item" href="#">Food Drink</a></li>
                                    <li><a class="dropdown-item" href="#">Graphic Novels Anime Manga</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">H - N</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Health</a></li>
                                    <li><a class="dropdown-item" href="#">History Archaeology</a></li>
                                    <li><a class="dropdown-item" href="#">Home Garden</a></li>
                                    <li><a class="dropdown-item" href="#">Humour</a></li>
                                    <li><a class="dropdown-item" href="#">Medical</a></li>
                                    <li><a class="dropdown-item" href="#">Mind Body Spirit</a></li>
                                    <li><a class="dropdown-item" href="#">Natural History</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">P - S</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Personal Development</a></li>
                                    <li><a class="dropdown-item" href="#">Poetry Drama</a></li>
                                    <li><a class="dropdown-item" href="#">Reference</a></li>
                                    <li><a class="dropdown-item" href="#">Religion</a></li>
                                    <li><a class="dropdown-item" href="#">Romance</a></li>
                                    <li><a class="dropdown-item" href="#">Science Fiction Fantasy Horror</a></li>
                                    <li><a class="dropdown-item" href="#">Science Geography</a></li>
                                    <li><a class="dropdown-item" href="#">Society Social Sciences</a></li>
                                    <li><a class="dropdown-item" href="#">Sport</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">T - Z</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Teaching Resources Education</a></li>
                                    <li><a class="dropdown-item" href="#">Technology Engineering</a></li>
                                    <li><a class="dropdown-item" href="#">Teen Young Adult</a></li>
                                    <li><a class="dropdown-item" href="#">Transport</a></li>
                                    <li><a class="dropdown-item" href="#">Travel Holiday Guides</a></li>
                                </ul>
                            </li>
                        
                    </ul>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'books' %}">All Books</a></li>
                <li><a class="dropdown-item" href="#">By Price</a></li>
                <li><a class="dropdown-item" href="#">By Rating</a></li>
                <li><a class="dropdown-item" href="#">News Letter</a></li>
            </ul>
        </li>
    </ul>
</div>