{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-lite-gray books-container news-letter">
        <div class="row">
            <div class="col-12">
                <h2 class="books-blue-text">News Letter</h2>
                <p class="books-blue-text">
                    Join our News Letter, and recive the latest book deals and New arrivials.
                </p>
        </div>
        <div class="row">
            <div class="col-6 allauth-form-inner-content">
                <form method="POST" action="{% url 'news_letter' %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <button class="btn" type="submit">Subscribe</button>
                        <a class="btn books-button-white mt-sm-0 mt-1" href="{% url 'news_letter' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}