{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-lite-gray">
        <div class="row">
            <div class="col-8 offset-2">
                <h2 class="mb-4 books-blue-text">Book and Products Management</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2">
                <form method="POST" action="{% url 'add_book' %}" class="form mb-3 books-blue-text" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn books-button" href="{% url 'books' %}">Cancel</a>
                        <button class="btn books-button-white" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}