{% extends "base.html" %}
{% load static %}

{% block extra_css  %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-lite-gray">

    <div class="container">
        <div class="row">

            <div class="col-12">
                <h2 class="text-center books-blue-text mt-3">Book Information</h2>
            </div>

            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-3">
                <div class="card rounded-0">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card-body">
                                {% if book.img_paths %}
                                <a href="{{ book.img_paths.url }}" target="_blank">
                                    <img class="img-fluid info-book-img" src="{{ book.img_paths.url }}"
                                        alt="{{ book.name }}">
                                </a>
                                {% else %}
                                <a href="{{ MEDIA_URL }}noimage.png" target="_blank">
                                    <img class="img-fluid info-book-img" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ book.name }}">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="deal-text card-body">
                                <ul>
                                    <li>
                                        <h3>{{ book.name }}</h3>
                                        <h4>By: {{ book.author }}</h4>
                                        <p>ISBN no. {{ book.isbn }}</p>
                                    </li>
                                    <li class="pop-genres-stars">
                                        {% include 'includes/book-stars.html' %}
                                    </li>
                                    <li>
                                        {% if book.category %}
                                        <p class="mt-3">
                                            <a class="books-blue-text"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <p>
                                            {{ book.format }}
                                        </p>
                                    </li>
                                    <li>
                                        <p>RRP: £{{ book.old_price }}: </p>
                                    </li>
                                    <li>
                                        <p><strong>Price: £{{ book.price }}</strong></p>

                                    </li>
                                    {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a class="btn btn-danger mt-1" href="{% url 'edit_book' book.id %}"
                                            role="button">Edit</a> 
                                        <button type="button" class="btn btn-danger mt-1" data-bs-toggle="modal"
                                            data-bs-target="#BookInfoAdminDelete">
                                            Delete
                                          </button>
                                    </small>

                                    <!-- Modal -->
                                    <div class="modal fade" id="BookInfoAdminDelete" tabindex="-1" aria-labelledby="DeleteBook" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content rounded-0">
                                            <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <p class="books-blue-text"><strong>Are you sure you want to do that! This item will be Deleted this permanently and can not be restored. </strong></p>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn books-button" data-bs-dismiss="modal">Cancel</button>
                                            <a class="btn books-button-white text-danger" href="{% url 'delete_book' book.id %}"
                                            role="button">Delete</a>
                                    
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <!-- Add to bag -->
                        <div class="col">

                            <form class="form" action="{% url 'add_to_bag' book.id %}" method="POST"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <p class="ms-3 mt-3 books-blue-text"><strong>Quantity:</strong></p>

                                        <!-- Bootstrap quantitly buttons -->
                                        <div class="form-group w-50 ms-3 books-blue-text">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn button-blue rounded-0"
                                                        data-item_id="{{ book.id }}" id="decrement-qty_{{ book.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control qty_input books-blue-text border-blue"
                                                    type="number" name="quantity" value="1" min="1" max="99"
                                                    data-item_id="{{ book.id }}" id="id_qty_{{ book.id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn button-blue rounded-0"
                                                        data-item_id="{{ book.id }}" id="increment-qty_{{ book.id }}">
                                                        <span>
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-12">
                                            <a href="{% url 'books' %}" class="btn books-button ms-3 mt-5 mb-3">
                                                <span>
                                                    <i class="fas fa-chevron-left"></i>
                                                </span>
                                                <span class="text-uppercase">Keep Shopping</span>
                                            </a>
                                            <input type="submit" class="btn books-button-white text-uppercase ms-3 mt-5 mb-3"
                                                value="Add to Bag">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 mt-3">

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="synopisButton" class="btn synopsis-author-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#multiCollapseExample5" aria-expanded="false"
                        aria-controls="multiCollapseExample5"><strong>Synopsis</strong></button>

                    <button id="authorButton" class="btn synopsis-author-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#multiCollapseExample6" aria-expanded="false"
                        aria-controls="multiCollapseExample6"><strong>Author</strong></button>
                </div>
               
                <div class="collapse multi-collapse mt-3" id="multiCollapseExample5">
                        <div class="card card-body rounded-0">
                            <div class="deal-text">
                                <div id="Synopsis">
                                    <!-- Synopis info here -->
                                </div>
                            </div>
                        </div>  
                </div>
                <div class="collapse multi-collapse mt-3" id="multiCollapseExample6">
                    <div class="card card-body rounded-0">
                        <div class="deal-text">
                            <div id="author">
                                <!-- Author info here -->
                            </div>
                        </div>
                    </div>
                </div>
                                       
            </div>
            
        </div>

    </div>
</div>

<!-- Owl carousel https://owlcarousel2.github.io/OwlCarousel2/index.html -->
<div class="owl-carousel owl-theme mt-5">
    {% for all_book in all_books %}
        {% if book.category == all_book.category %}
            <div
                class="carousel-container">

                <div class="carousel-bg-info">
                    <div class="carousel-image">
                        {% if all_book.img_paths %}
                        <a href="{% url 'book_info' book.id %}">
                            <img class="img-fluid info-carousel-image" src="{{ all_book.img_paths.url }}" alt="{{ all_book.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'book_info' book.id %}">
                            <img class="img-fluid info-carousel-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ all_book.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="carousel-info">
                        <ul>
                            <li><strong>{{ all_book.name }}</strong></li>
                            <li><small>By {{ all_book.author }}</small></li>
                            <br>
                            <li><strong>£ {{ all_book.price }}</strong></li>
                            <br>
                            <a class="carousel-button" href="{% url 'book_info' all_book.id %}" role="button" aria-label="Book Information">View The
                                Book</a>
                        </ul>

                    </div>
                </div>
                
                <div class="carousel-bottom">
                    
                </div>
            </div>
        {% endif %}
    {% endfor %}

</div>

</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'books/includes/quantity_input_script.html' %}
{% include 'books/includes/synopsis_author_script.html' %}
{% endblock %}