{% extends "base.html" %}
{% load static %}

{% block extra_css  %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Book Information</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-lite-gray">

    <div class="container">
        <div class="row">

            <div class="col-8 offset-2 mt-3">
                <div class="card">
                    <div class="row">
                        <div class="col-4">
                            <div class="book-image card-body">
                                {% if book.img_paths %}
                                        <a href="{{ book.img_paths.url }}" target="_blank">
                                            <img class="w-100" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{{ MEDIA_URL }}noimage.png" target="_blank">
                                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.name }}">
                                        </a>
                                    {% endif %}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="deal-text card-body">

                                <ul>
                                    <li>
                                        <h3>{{ book.name }}</h3>
                                        <h2>By: {{ book.author }}</h2>
                                    </li>
                                    {% if book.book_depository_stars == "0.00" %}
                                    <li class="stars">
                                        0<i class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 0.50 %}
                                    <li class="stars">
                                        0.5<i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 1.00 %}
                                    <li class="stars">
                                        1 <i class="fas fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 1.50 %}
                                    <li class="stars">
                                        1.5 <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 2.00 %}
                                    <li class="stars">
                                        2 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 2.50 %}
                                    <li class="stars">
                                        2.5 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 3.00 %}
                                    <li class="stars">
                                        3 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 3.50 %}
                                    <li class="stars">
                                        3.5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 4.00 %}
                                    <li class="stars">
                                        4<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 4.50 %}
                                    <li class="stars">
                                        4.5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star-half-alt"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 5.00 %}
                                    <li class="stars">
                                        5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i>
                                    </li>
                                    {% endif %}
                                    <li>
                                        {% if book.category %}
                                        <p class="">
                                            <a class="text-muted"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                    </li>
                                </ul>
                                <br>
                                <ul>
                                    <li>
                                        <p>RRP: {{ book.old_price }}: </p>
                                        <div>{{ book.isbn }}</div>
                                    </li>
                                    <li>
                                        <p><strong>Price: {{ book.price }}</strong></p>

                                    </li>
                                    {% if request.user.is_superuser %}
                                    <li>
                                        <small class="ml-3">
                                            <a href="{% url 'edit_book' book.id %}">Edit</a>
                                        </small>
                                    </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>

                        <!-- Add to bag -->
                        <div class="col">

                            <form class="form" action="{% url 'add_to_bag' book.id %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <p class="mt-3"><strong>Quantity:</strong></p>

                                        <!-- Bootstrap quantitly buttons -->
                                        <div class="form-group w-50">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-black rounded-0"
                                                        data-item_id="{{ book.id }}" id="decrement-qty_{{ book.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control qty_input" type="number" name="quantity"
                                                    value="1" min="1" max="99" data-item_id="{{ book.id }}"
                                                    id="id_qty_{{ book.id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-black rounded-0"
                                                        data-item_id="{{ book.id }}" id="increment-qty_{{ book.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-12">
                                            <a href="{% url 'books' %}" class="btn rounded-0 mt-5">
                                                <span class="icon">
                                                    <i class="fas fa-chevron-left"></i>
                                                </span>
                                                <span class="text-uppercase">Keep Shopping</span>
                                            </a>
                                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5"
                                                value="Add to Bag">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-8 offset-2 mt-3">
                <div class="row">
                    <div class="col-12">
                        <p>
                            <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
                                aria-expanded="false" aria-controls="multiCollapseExample1">Synopsis</a>

                            <button class="btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapseExample2" aria-expanded="false"
                                aria-controls="multiCollapseExample2">Author</button>
                        </p>
                    </div>

                    <div class="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">   
                                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                                            <div class="card card-body">
                                                <div class="deal-text">
                                                    <div id="Synopsis">
                                                        <!-- Synopis info here -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                </div>
                                <div class="col-6"> 
                                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                                            <div class="card card-body">
                                                <div class="deal-text">
                                                    <p>{{ book.author }}</p>
                                                    <div id="author">
                                                        
                                                        <!-- Author info here -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>     
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'books/includes/quantity_input_script.html' %}
{% include 'books/includes/synopsis_author_script.html' %}
{% endblock %}