{% extends "base.html" %}
{% load static %}

{% block extra_css  %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-lite-gray">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="books-blue-text">Books</h2>
        </div>
    </div>

    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector"
                    class="books-blue-text custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (Low
                        to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (High
                        to low)</option>
                    <option value="book_depository_stars_asc"
                        {% if current_sorting == 'book_depository_stars' %}selected{% endif %}>Rating (high to low)
                    </option>
                    <option value="book_depository_stars_desc"
                        {% if current_sorting == 'book_depository_stars' %}selected{% endif %}>Rating (low to high)
                    </option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                        (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <a class="all-books-button" href="{% url 'books' %}">Books Home</a>
                {% endif %}
                {{ books|length }} Books{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>

    <div class="container mb-2">
        <div class="row">

            {% for book in books %}
            <div class="col-12 col-md-6 col-lg-4 mt-3">
                <div class="card rounded-0">

                    <div class="row">

                        <div class="col-4">
                            <div class="card-body books-card">
                                    {% if book.img_paths %}
                                        <a href="{% url 'book_info' book.id %}">
                                            <img class="img-fluid books-img" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'book_info' book.id %}">
                                            <img class="img-fluid books-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.name }}">
                                        </a>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a class="btn btn-danger mt-1" href="{% url 'edit_book' book.id %}" role="button">Edit</a>
                                                
                                            </small>
                                    {% endif %}
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body books-card">
                                <ul>
                                    <li><h4>{{ book.name }}</h4></li>
                                    <li><small>By {{ book.author }}</small></li>
                                    <li class="pop-genres-stars">
                                        {% include 'includes/book-stars.html' %}
                                    </li>
                                    <li>
                                        {% if book.category %}
                                            <a class="books-blue-text"
                                                href="{% url 'books' %}?category={{ book.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                            </a>
                                        {% endif %}
                                    </li>
                                    <li><small>RRP: {{ book.old_price }}</small></li>
                                    <br>
                                    <li><strong>£ {{ book.price }}</strong></li>
                                    <br>  
                                </ul>  
                            </div>
                        </div>
                        <div class="mb-4 text-center">
                            <a class="books-button" href="{% url 'book_info' book.id %}" role="button">
                                View The Book
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        // <!-- Script for book category, price, rating, and name order select -->
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        console.log(selectedVal)
        if (selectedVal == "book_depository_stars_asc") {
            var sort = "book_depository_stars";
            var direction = "desc";

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else if (selectedVal == "book_depository_stars_desc") {
            var sort = "book_depository_stars";
            var direction = "asc";

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
    </script>
{% endblock %}