{% extends "base.html" %}
{% load static %}

{% block extra_css  %}
<style>
    .bg-lite-gray {
        background-color: #F5F5F5;
    }

    .stars {
        display: inline;
    }
</style>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-lite-gray">

    <div class="container">
        <div class="row">

            <div class="col-8 offset-2 mt-3">
                <div class="card">
                    <div class="row">
                        <div class="col-4">
                            <div class="book-image card-body">
                                <img class="img-fluid" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="deal-text card-body">
                                <h3>{{ book.name }}</h3>
                                <ul>
                                    {% if book.book_depository_stars == "0.00" %}
                                    <li class="stars">
                                        0<i class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 0.50 %}
                                    <li class="stars">
                                        0.5<i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 1.00 %}
                                    <li class="stars">
                                        1 <i class="fas fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 1.50 %}
                                    <li class="stars">
                                        1.5 <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 2.00 %}
                                    <li class="stars">
                                        2 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 2.50 %}
                                    <li class="stars">
                                        2.5 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 3.00 %}
                                    <li class="stars">
                                        3 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 3.50 %}
                                    <li class="stars">
                                        3.5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 4.00 %}
                                    <li class="stars">
                                        4<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 4.50 %}
                                    <li class="stars">
                                        4.5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star-half-alt"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 5.00 %}
                                    <li class="stars">
                                        5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i>
                                    </li>
                                    {% endif %}
                                </ul>
                                <br>
                                <p>RRP: {{ book.old_price }}: </p>
                                <p><strong>Price: {{ book.price }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-8 offset-2 mt-3">
                
            </div>



        </div>
    </div>

</div>
{% endblock %}