{% extends "base.html" %}
{% load static %}

{% block extra_css  %}
<style>
    .bg-lite-gray {
        background-color: #F5F5F5;
    }

    .stars {
        display: inline;
    }
</style>
{% endblock %}

{% block extra_js %}
<script>
    // Remove col-2 class for Browse Category navlink dropndown for mobile view
    jQuery(document).ready(function (e) {
        classAddRmove();

        $(window).resize(function () {
            classAddRmove();
        });

        function classAddRmove() {
            if ($(window).width() <= 991) {
                document.getElementById("nav-category").classList.remove("col-2");
                document.getElementById("navbar-class-change").classList.add("navbar-nav");
                
            } else {
                document.getElementById("nav-category").classList.add("col-2");
                document.getElementById("navbar-class-change").classList.remove("navbar-nav");
            }
        }
    });
</script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-lite-gray">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Books</h2>
            {% for c in current_categories %}
                <a class="category-badge text-decoration-none" href="{% url 'books' %}?category={{ c.name }}">
                    <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                </a>
            {% endfor %}
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="book_depository_stars_asc" {% if current_sorting == 'book_depository_stars_asc' %}selected{% endif %}>Rating (low to high)</option>
                    <option value="book_depository_stars_desc" {% if current_sorting == 'book_depository_stars_desc' %}selected{% endif %}>Rating (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'books' %}">Books Home</a> | </span>
                {% endif %}
                {{ books|length }} Books{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            {% for book in books %}
            <div class="col-12 col-md-6 col-lg-4 mt-3">
                <div class="card">
                    <div class="row">
                        <div class="col-4">
                            <div class="book-image card-body">
                                <a href="{% url 'book_info' book.id %}">
                                    <img class="img-fluid" src="{{ book.img_paths.url }}" alt="{{ book.name }}">
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="deal-text card-body">
                                <h3>{{ book.name }}</h3>
                                <p>Author: {{ book.author }}</p>
                                <ul>
                                    {% if book.book_depository_stars == "0.00" %}
                                    <li class="stars">
                                        0<i class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 0.50 %}
                                    <li class="stars">
                                        0.5<i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 1.00 %}
                                    <li class="stars">
                                        1 <i class="fas fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 1.50 %}
                                    <li class="stars">
                                        1.5 <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 2.00 %}
                                    <li class="stars">
                                        2 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="far fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 2.50 %}
                                    <li class="stars">
                                        2.5 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 3.00 %}
                                    <li class="stars">
                                        3 <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="far fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 3.50 %}
                                    <li class="stars">
                                        3.5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 4.00 %}
                                    <li class="stars">
                                        4<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="far fa-star"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 4.50 %}
                                    <li class="stars">
                                        4.5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star-half-alt"></i>
                                    </li>
                                    {% elif book.book_depository_stars == 5.00 %}
                                    <li class="stars">
                                        5<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i>
                                    </li>
                                    {% endif %}
                                </ul>
                                <br>
                                <p>RRP: {{ book.old_price }}: </p>
                                <p><strong>Price: {{ book.price }}</strong></p>

                                <p>Cat: {{ book.category }}</p>

                                {% if book.category %}
                                <p class="">
                                    <a class="text-muted" href="{% url 'books' %}?category={{ book.category.name }}">
                                        <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}

                                <p>pk: {{ book.pk }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
