{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-6">
                <hr>
                <h2 class="mb-4">Book and Products Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-6">
                <form method="POST" action="{% url 'edit_book' book.id %}" class="form mb-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn books-button" href="{% url 'books' %}">Cancel</a>
                        <button class="btn books-button-white" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}