<script>
// Get book from Google books useing ISBN number https://developers.google.com/books/docs/v1/using
let isbn = "";
let bookData = "";
let isbnUrl = "https://www.googleapis.com/books/v1/volumes?q=isbn:";
isbn = '{{ book.isbn }}';
$.getJSON(isbnUrl + isbn,
    function (bookData) {
        if (bookData.hasOwnProperty("items") ){
            bookSynopis = bookData.items[0].volumeInfo.description;
            $("#Synopsis").html(
                `
                <div class="books-blue-text">${bookSynopis}</div>
                `
            );
        } else {
            $("#Synopsis").html(
                `
                <p class="books-blue-text"><strong>{{ book.name }}</strong></p>
                <p class="books-blue-text">For more information get in touch!</p>
                <a class="books-button" href="{% url 'book_info' book.id %}#contact" aria-label="Contact Us Section">Contact Us</a>
                `
            );
        }
    },
    // If an error occurs then show error response under search bar
    function error(errorResponse) {
        if (errorResponse.status === 404) {
            console.log("errorResopnse", errorResponse);
        } else {
            console.log(errorResponse.responseJSON.message);
        }
    }
);

// Get book Author key from openlibary API https://openlibrary.org/dev/docs/api/authors
let authorUrl = "https://openlibrary.org/search/authors.json?q=";
let searchAuthor = '{{ book.author }}'

$.getJSON(authorUrl + searchAuthor,
    function (bookData) {
        authorKey = bookData.docs[0].key;
        (authorKeySearch(authorKey));
    },

    // If an error occurs then show error response under search bar
    function error(errorResponse) {
        if (errorResponse.status === 404) {
            console.log(errorResponse)
        }
    }
);

function authorKeySearch(authorKey) {
    let authorUrl = "https://openlibrary.org/authors/";
    let authorUrlEnd = authorKey + ".json";
    $.getJSON(authorUrl + authorUrlEnd,
        function (result) {
            if (result.hasOwnProperty("bio") ){ 

                if (result.bio.value != undefined) {
                    $("#author").html(
                        `
                        <div class="books-blue-text">${result.bio.value}</div>       
                        `
                    );     
                } else {
                    $("#author").html(
                        `
                        <div class="books-blue-text">${result.bio}</div>       
                        `
                    ); 
                }
            } else {
                $("#author").html(
                    `
                    <p class="books-blue-text"><strong>{{ book.author }}</strong></p>
                    <p class="books-blue-text">For more information get in touch!</p>
                    <a class="books-button" href="{% url 'book_info' book.id %}#contact" aria-label="Contact Us Section">Contact Us</a>
                    `
                );
            }
        },
        // If an error occurs then show error response under search bar
        function error(errorResponse) {
            if (errorResponse.status === 404) {
                console.log(errorResponse)
            }
        }
    )
};
</script>