<script>
// Get book from Google books useing ISBN number https://developers.google.com/books/docs/v1/using
let isbn = "";
let bookData = "";
let isbnUrl = "https://www.googleapis.com/books/v1/volumes?q=isbn:";
isbn = '{{ book.isbn }}';
$.getJSON(isbnUrl + isbn,
    function (bookData) {
        console.log(bookData)
        console.log(isbn)
        bookSynopis = bookData.items[0].volumeInfo.description;
        if (bookData === undefined) {
            console.log("no data")
            $("#Synopsis").html(
                `
                <p>{{ book.name }}</p>
                <p>For more information call us or get in contact (link)</p>
                `
            );
        } else if (bookData.totalItems === 0){
            console.log("No data 2")
            $("#Synopsis").html(
                `
                <p>{{ book.name }}</p>
                <p>For more information call us or get in contact (link)</p>
                `
            );
        } else {
            $("#Synopsis").html(
                `
                <div>${bookSynopis}</div>
                `
            );
        }
    },
    // If an error occurs then show error response under search bar
    function error(errorResponse) {
        if (errorResponse.status === 404) {
            console.log("errorResopnse", errorResponse);
        } else {
            console.log(errorResponse.reponseJSON.message);
        }
    }
);

// Get book Author key from openlibary API https://openlibrary.org/dev/docs/api/authors
let authorUrl = "https://openlibrary.org/search/authors.json?q=";
let searchAuthor = '{{ book.author }}'

$.getJSON(authorUrl + searchAuthor,
    function (bookData) {
        authorKey = bookData.docs[0].key;
        (authorKeySearch(authorKey));
    },

    // If an error occurs then show error response under search bar
    function error(errorResponse) {
        if (errorResponse.status === 404) {
            console.log(errorResponse)
        }
    }
);

function authorKeySearch(authorKey) {
    let authorUrl = "https://openlibrary.org/authors/";
    let authorUrlEnd = authorKey + ".json";
    $.getJSON(authorUrl + authorUrlEnd,
        function (result) {
            if (result.bio.value != undefined) {
                $("#author").html(
                    `
                    <div>${result.bio.value}</div>       
                    `
                );
            } else if (result.bio != undefined) {
                $("#author").html(
                    `                            
                    <div>${result.bio}</div>
                    `
                );
            } else {
                $("#author").html(
                    `
                    <p>For more information call us or get in contact (link)</p>
                    `
                );
            }
        },
        // If an error occurs then show error response under search bar
        function error(errorResponse) {
            if (errorResponse.status === 404) {
                console.log(errorResponse)
            }
        }
    )
};
</script>